<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset ="UTF -8">
    <meta name =" viewport " content =" width = device-width , initial-scale= 1.0">

    <title> {{ page.title }} </title>
    <link rel =" stylesheet " href ="{{'/assets/css/styles.css' | relative_url}}">
</head>
<header class="default"> 
    <div class="logo">
        <img src="{{'/assets/images/lop.png' | relative_url}}">
    </div>
    <div class="pageTitle">
    <h1> Pagina Felipe 10791882</h1>
    </div>
</header >
<body>
    {{ content }}
 </body>
 <footer>
    <h3> Contato</h3>
    <ul>
        <li>email:</li>
        <li>email:</li>
        <li>email:</li>
        <li>email:</li>
    </ul>
</footer>
 </html>
