---
layout: default
---
<article class="mainArticle">
<nav>
    <h3> Posts </h3>
    <ul>
    {% for post in site.posts %}
        <li> <a href ="{{ post.url | relative_url }} "> {{ post.title }} </a> </li>
    {% endfor %}
    </ul>
</nav>
<article class="articleIn">
    <h3>Main Title</h3>
    <div >
        <p>     Maednj nian nain ninaihid inihdaihid podaiih oosadio oiaousa uishaudgjb jsj jbsd badjbds 
            ansjbjsajkaskjbdas hashgahdghag dhggya iaisush dsafergsd gdfsvsdv fvdf fsdv aseafdac dsfser sdfesre fdsfsdc
            sdfdsv sdvvsv oidihsaifhai.Maednj nian nain ninaihid inihdaihid podaiih oosadio oiaousa uishaudgjb jsj jbsd badjbds 
            ansjbjsajkaskjbdas hashgahdghag dhggya iaisush dsafergsd gdfsvsdv fvdf fsdv aseafdac dsfser sdfesre fdsfsdc
            sdfdsv sdvvsv oidihsaifhai
        </p>
        <p>
                Maednj nian nain ninaihid inihdaihid podaiih oosadio oiaousa uishaudgjb jsj jbsd badjbds 
            ansjbjsajkaskjbdas hashgahdghag dhggya iaisush dsafergsd gdfsvsdv fvdf fsdv aseafdac dsfser sdfesre fdsfsdc
            sdfdsv sdvvsv oidihsaifhai
        </p>
        <div>
            <img class="class=textImagem" src="{{'/assets/images/cuba.jpg' | relative_url}}">
        </div>
    </div>
</article>
<section>
    <div>
        <h4>Hello Title</h4>
        <p>
                Maednj nian nain ninaihid inihdaihid podaiih oosadio oiaousa uishaudgjb jsj jbsd badjbds 
            ansjbjsajkaskjbdas hashgahdghag dhggya iaisush dsafergsd gdfsvsdv fvdf fsdv aseafdac dsfser sdfesre fdsfsdc
            sdfdsv sdvvsv oidihsaifhai.
        </p>
    </div>
    <div>
        <h4>Hello Title</h4>
        <p>
                Maednj nian nain ninaihid inihdaihid podaiih oosadio oiaousa uishaudgjb jsj jbsd badjbds 
            ansjbjsajkaskjbdas hashgahdghag dhggya iaisush dsafergsd gdfsvsdv fvdf fsdv aseafdac dsfser sdfesre fdsfsdc
            sdfdsv sdvvsv oidihsaifhai.
        </p>
    </div>
</section>   
</article>
 